# Configuracion de la API KEY de Google AI Studio
GEMINI_API_KEY="tu_api_key_aqui"

# Configuración del Navegador (True para invisible, False para ver el proceso)
HEADLESS_MODE=False

# Tiempos de espera (en segundos)
WAIT_TIME_AFTER_SEND=7
WAIT_TIME_LOGIN=100

# Google Sheets
GOOGLE_SHEET_ID=ID_DeTuHoja
GOOGLE_SHEET_TAB_NAME=Hoja 1

# Configuración IA
AI_MODEL=gemini-2.5-flash
AI_TEMPERATURE=0.7